.flex {
	display: flex;
}

.profile-wrapper {
	height: calc(100vh - 68px);
	display: flex;
	justify-content: center
}

.profile-container {
	height: 100%;
	width: 80%;
	margin-top: 20px;
}

.profile-header {
	margin: 20px 0;
	justify-content: space-between;
}

.profile-user-container {
	align-items: center;	
}

.profile-pic {
	height: 105px;
	border-radius: 50%;
}

.user-info {
	flex-direction: column;
	margin-left: 20px;
}